<div class="row">
    <div class="col s12 l12 m12">
        <h1>¡Un chiste, un chiste!</h1>
    </div>
</div>
<div class="row">
    <div class="col s12 l3 m6 xl12 offset-s0 offset-l4 offset-m3">
        <div class="card light-green lighten-5">
            <div class="card-content black-text" style="overflow: hidden;">
                <span class="card-title"><%- joke.author %></span>
                <p><%- joke.description %></p>
            </div>
        </div>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large green" href="#!" onclick="apretaste.send({command: 'CHISTE'});">
        <i class="material-icons">mood</i>
    </a>
</div>