<div class="row">
	<div class="col s12">
		<h1>¡Un chiste, un chiste!</h1>

		<% tags.forEach(function(tag) { %>
			<div class="chip"><%= tag %></div>
		<% }) %>

		<p><%- joke %></p>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green" href="#!" onclick="apretaste.send({command:'CHISTE'});">
		<i class="material-icons">mood</i>
	</a>
</div>