<div class="row">
	<div class="col s12">
		<h1>¡Un chiste, un chiste!</h1>

		<% tags.forEach(function(tag) { %>
			<div class="chip"><%= tag %></div>
		<% }) %>

		<p><%- joke %></p>
	</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey third modal-trigger" href="#shareModal">
		<i class="material-icons">share</i>
	</a>
	<a class="btn-floating btn-large green" href="#!" onclick="apretaste.send({command:'CHISTE'});">
		<i class="material-icons">mood</i>
	</a>
</div>


<!-- SHARE MODAL -->
<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar">
				<i class="fas fa-grin-squint material-icons circle"></i>
				<span class="title"><%- joke.substr(0,100) %></span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="apretaste.send({command:'PIZARRA PUBLICAR', data:{
			text: $('#message').val(),
			image: '',
			link: {
				command: btoa(JSON.stringify({
					command: 'CHISTE VER',
					data: {
						id: jokeId
					}
				})),
				icon: 'mood',
				text: joke.substr(0, 100)
			}
		}})" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>